In [1]:
import pandas as pd
import numpy as np
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [14]:


# Create Engine and Pass in MySQL Connection
#engine = create_engine("mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz")
engine = create_engine('mysql://nzc05xl12rgoh7ei:v1h64j9hgv2ky4g1@s3lkt7lynu0uthj8.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/x5t20wxo8nmqqxfz')
conn =  engine.connect()
query = "SELECT * FROM temperature"
df = pd.read_sql(query,conn)
print(df.head())

             datetime            van            por          sfran  \
0 2012-10-01 13:00:00         284.63         282.08         289.48
1 2012-10-01 14:00:00   284.62904131  282.083251974  289.474992813
2 2012-10-01 15:00:00  284.626997923  282.091866475  289.460618112
3 2012-10-01 16:00:00  284.624954535  282.100480976  289.446243412
4 2012-10-01 17:00:00  284.622911147  282.109095477  289.431868711

             sea             la           sand          laveg            pho  \
0          281.8         291.87         291.53         293.41          296.6
1  281.797216632  291.868185522  291.533500952  293.403141271  296.608508543
2  281.789832606  291.862844459  291.543355079  293.392177052  296.631487354
3   281.78244858  291.857503395  291.553209206  293.381212832  296.654466164
4  281.775064553  291.852162332  291.563063333  293.370248613  296.677444975

             alb   ...              nyc            mon            bos  \
0         285.12   ...           288.22         285.83         287.17
1  285.154558187   ...     288.24767617  285.834649953  287.186092094
2  285.233951595   ...    288.326939663  285.847789539   287.23167159
3  285.313345004   ...    288.406203155  285.860929124  287.277251086
4  285.392738413   ...    288.485466648  285.874068709  287.322830583

             bee            tel            eil    hai    nah    jer date_id
0         307.59         305.47         310.58  304.4  304.4  303.5       1
1         307.59         304.31  310.495769231  304.4  304.4  303.5       2
2  307.391512749  304.281841331  310.411538462  304.4  304.4  303.5       3
3  307.145199718  304.238014609  310.327307692  304.4  304.4  303.5       4
4  306.898886687  304.194187887  310.243076923  304.4  304.4  303.5       5

[5 rows x 38 columns]

In [40]:
def kelvin_to_F(kelvin):
    # convert to celcius
    cel = kelvin - 273.15
    # convert to farhenhit 
    f = (cel * 1.8) + 32 
    return round(f)

kelvin_to_F(285.154558187)

54

In [62]:
import os
import datetime as dt
print(os.getcwd())
temp = pd.read_csv('historical-hourly-weather-data/temperature.csv', parse_dates=['datetime'], index_col='datetime')

C:\Users\corey\Dropbox\uci\Project-2\Travel-Informers

# select only the cities in the US and Canada and only for years after 2014

In [65]:
temp = temp.loc[:, 'Vancouver':'Boston']

temp = temp[temp.index > '2015']

In [66]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25536 entries, 2015-01-01 01:00:00 to 2017-11-30 00:00:00
Data columns (total 30 columns):
Vancouver        24744 non-null float64
Portland         25536 non-null float64
San Francisco    24744 non-null float64
Seattle          25536 non-null float64
Los Angeles      25536 non-null float64
San Diego        25536 non-null float64
Las Vegas        25536 non-null float64
Phoenix          25536 non-null float64
Albuquerque      25536 non-null float64
Denver           25536 non-null float64
San Antonio      25536 non-null float64
Dallas           25536 non-null float64
Houston          25536 non-null float64
Kansas City      25536 non-null float64
Minneapolis      25536 non-null float64
Saint Louis      25536 non-null float64
Chicago          25536 non-null float64
Nashville        25536 non-null float64
Indianapolis     25536 non-null float64
Atlanta          25536 non-null float64
Detroit          25536 non-null float64
Jacksonville     25536 non-null float64
Charlotte        25536 non-null float64
Miami            24744 non-null float64
Pittsburgh       25536 non-null float64
Toronto          25536 non-null float64
Philadelphia     25536 non-null float64
New York         24744 non-null float64
Montreal         25536 non-null float64
Boston           25536 non-null float64
dtypes: float64(30)
memory usage: 6.0 MB

In [67]:
# convert to f
temp_clean = temp.apply(lambda x: kelvin_to_F(x)).dropna().astype('int')
temp_clean.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Toronto,Philadelphia,New York,Montreal,Boston
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-01 01:00:00,35,27,53,31,40,38,35,40,19,10,...,17,55,31,74,21,20,22,23,15,24
2015-01-01 02:00:00,35,26,51,30,38,35,35,38,16,5,...,16,54,29,73,21,20,21,21,15,23
2015-01-01 03:00:00,35,25,51,30,34,33,34,37,16,6,...,17,54,29,72,21,20,22,21,15,24
2015-01-01 04:00:00,35,23,49,29,32,30,34,35,11,-1,...,16,53,27,71,21,21,20,21,15,23
2015-01-01 05:00:00,35,22,48,28,29,27,33,33,10,-2,...,17,53,26,70,21,21,20,20,16,23

In [45]:
np.shape(temp_clean.resample('D').mean())

(1854, 30)

## Using Resample to get daily averages, max, and min

In [68]:
temp_clean.resample("D").mean().round(decimals=2).to_csv('historical-hourly-weather-data/daily_avg_temps.csv', encoding='utf-8')

In [69]:
temp_clean.resample("M").mean().to_csv('historical-hourly-weather-data/monthly_avg_temps.csv', encoding='utf-8')
temp_clean.resample("D").min().to_csv('historical-hourly-weather-data/daily_min_temps.csv', encoding='utf-8')
temp_clean.resample("D").max().to_csv('historical-hourly-weather-data/daily_max_temps.csv', encoding='utf-8')

## Do the same with Humidity and Wind Speed but with functions

In [70]:
def clean_weather(df):
    cities = df.loc[:, 'Vancouver':'Boston']
    years = df[df.index > '2015']

    temp_clean = years.apply(lambda x: kelvin_to_F(x)).dropna()
    daily_avg = temp_clean.resample("D").mean().round(decimals=2)
    daily_min = temp_clean.resample("D").min()
    daily_max = temp_clean.resample("D").max()
    return daily_avg, daily_min, daily_max

In [71]:
humidity = pd.read_csv('historical-hourly-weather-data/humidity.csv', parse_dates=['datetime'], index_col='datetime')

In [72]:
hum_daily_avg, hum_daily_min, hum_daily_max = clean_weather(humidity)

In [73]:
hum_daily_avg.to_csv("historical-hourly-weather-data/humidity_daily_avg.csv", encoding='utf-8')
hum_daily_max.to_csv("historical-hourly-weather-data/humidity_daily_max.csv", encoding='utf-8')
hum_daily_min.to_csv("historical-hourly-weather-data/humidity_daily_min.csv", encoding='utf-8')

In [74]:
wind = pd.read_csv('historical-hourly-weather-data/wind_speed.csv', parse_dates=['datetime'], index_col='datetime')

In [75]:
wind_daily_avg, wind_daily_min, wind_daily_max = clean_weather(wind)

In [76]:
wind_daily_avg.to_csv("historical-hourly-weather-data/wind_daily_avg.csv", encoding='utf-8')
wind_daily_max.to_csv("historical-hourly-weather-data/wind_daily_max.csv", encoding='utf-8')
wind_daily_min.to_csv("historical-hourly-weather-data/wind_daily_min.csv", encoding='utf-8')

In [92]:
import seaborn as sns
%matplotlib inline

# Wrangle weather Descriptions

In [78]:
df = pd.read_csv('historical-hourly-weather-data/weather_description.csv', parse_dates=['datetime'], index_col='datetime')

In [116]:
df.loc[pd.date_range('1/1/2015', periods=30, freq='D').values, :]['Portland'].value_counts(ascending=False)

light rain              9
sky is clear            6
scattered clouds        4
moderate rain           4
heavy intensity rain    2
broken clouds           2
few clouds              2
overcast clouds         1
Name: Portland, dtype: int64

In [129]:
def get_descriptions(arrival, city):
    '''
    takes in a date and city and gives a json string of 
    the value counts of the weather descriptions for that month
    
    arrival: datetime as a string, 
    '''
    
    df = pd.read_csv('historical-hourly-weather-data/weather_description.csv',
                     parse_dates=['datetime'], index_col='datetime')
    time_frame = df.loc[pd.date_range(arrival, periods=30, freq='D').values, :]
    weather_descriptions = time_frame['Portland'].value_counts(ascending=False)
    
    return weather_descriptions.to_json()

In [130]:
get_descriptions('', 'Boston')

'{"broken clouds":8,"overcast clouds":6,"scattered clouds":5,"sky is clear":3,"few clouds":3,"moderate rain":2,"heavy intensity rain":1,"mist":1,"light rain":1}'